# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github flcd\lftc\parser_andrei-muntean_doris-moisuc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
